![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [4]:
ejer1=[1,2,3,4,5]

ejer1=ejer1.reverse()
print(ejer1)

None

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [2]:
ejer2 = [1,2,3,4,5,6]
lista = []

for i in ejer2:
    lista.append(i**2)
print(lista)

[1, 4, 9, 16, 25, 36]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [11]:
ejer31= ["hola", "amigo"]
ejer32=["que", "tal"]
lista=[]

for i in ejer31:
    for j in ejer32:
        print(i,j)
        lista.append(i + " " +j)
print(lista)

hola que
hola tal
amigo que
amigo tal
['hola que', 'hola tal', 'amigo que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [14]:
ejer4= [20, 47, 19, 29, 45, 67, 78, 90]
#ejer4[4]= 0
#print(ejer4)
print(ejer4)

[20, 47, 19, 29, 45, 67, 78, 90]

In [ ]:
for i in ejer4:
    if i == 45:

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [18]:

ejer5=[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer5copy = ejer5.copy()
while 3 in ejer5:
    ejer5.remove(3)
print(ejer5)
print(ejer5copy)

[20, 47, 19, 29, 45, 67, 78, 90]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [20]:
ejer61=(1,"d",3,"r",2)
print(ejer61)

(1, 'd', 3, 'r', 2)

In [21]:
ejer62=(2,3,True)
type(ejer62)

tuple

In [22]:
print(ejer61[0])
print(ejer62[-1])

1
True

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [24]:
ejer7 = ("cien", "cañones", "por", "banda")

In [85]:
sep=','
nuevo = sep.join(ejer7)
print(nuevo)

cien,cañones,por,banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [ ]:
ejer8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

In [32]:
print(ejer8[2])
print(ejer8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [ ]:
ejer9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
i=0
for i in ejer9:
    if i == 3:
        i=i+1
print(f"3 se repite {i} veces")

3 se repite 7 veces

In [96]:
for i in ejer9:
    if i <= 10 and i >= 5:
       var=i
    print(var)

5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
7
9
9
9
9
9
9
9
6
7

In [41]:
len(ejer9)

26

In [42]:
60 in ejer9

False

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [50]:
ejer10 = list(ejer9)
print(ejer10)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]

In [49]:
ejer101 = set(ejer9)
print(ejer101)

{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}

In [97]:
ejer102 = dict(enumerate(ejer9))
print(ejer102)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [118]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
dic_ejer11 = {}
for i, j in ejer_11:
    if i in dic_ejer11:
        dic_ejer11[i].append(j)
    else:
        dic_ejer11[i] = [j]

print(dic_ejer11)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [61]:
ejer12 = {4:78, 2:98, 8:234, 5:29}
listclaves = ejer12.keys()
listclaves
print(sorted(listclaves))

[2, 4, 5, 8]

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [119]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

In [123]:
ejer_13_1.update(ejer_13_2)
print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [130]:
ejer14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
sum(ejer14.values())

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [140]:
ejer15= {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
resul=1
for i in ejer15.values():
    resul *= i 
print(resul)

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [179]:
miset={"gatos","perros","miaus","gor","ignacio","hacha","coches","alubias","tortilla","omelete"}

In [180]:
miset.add("banans")
print(miset)

{'coches', 'ignacio', 'gor', 'perros', 'alubias', 'banans', 'hacha', 'omelete', 'tortilla', 'miaus', 'gatos'}

In [181]:
miset.pop()
print(miset)

{'ignacio', 'gor', 'perros', 'alubias', 'banans', 'hacha', 'omelete', 'tortilla', 'miaus', 'gatos'}

In [183]:
miset.discard("gatos")
print(miset)

{'ignacio', 'gor', 'perros', 'alubias', 'banans', 'hacha', 'omelete', 'tortilla', 'miaus'}

## Ejercicio 2
Programa el SW de una biblioteca:

* Pregunte qué operación quieres realizar (visualizar todos los libros de la biblioteca/buscar libro/aniadir libro/eliminar libro)
    * En caso de que pida visualizar se visualizarán todos los libros
    * Buscar libro: búsqueda por título que introduce el usuario
    * Aniadir libro: el usuario aniade todos los campos mediante inputs
    * Eliminar libro: por autor

In [170]:
import pprint
def visualizar(libros):
        pprint.pprint(libros)
        print()
visualizar(libros)

NameError: name 'libros' is not defined

In [ ]:
def buscarl(librosbuscadp):
    inpi=input("Escriba el titutlo del libro que quiere buscar").lower()
    for ver in librosbuscadp:
        if inpi == ver['Titulo'].lower():
            pprint.pprint(ver)
buscarl(libros)

{'Alquilado': True,
 'Autor': 'Ian Goodfellow, Yoshua Bengio, Aaron Courville',
 'Titulo': 'Deep Learning'}

In [ ]:
def añadelibro(libroañadido):
    titulo=input("Ponemeee el titulo del libro k keres añadir")
    autor=input("Ahora el autoricito")
    alquilado=input("Alquilado: ¿si o no?")
    if alquilado == "si":
        alquilado = True
    elif alquilado == "no":
        alquilado = False
    else:
        print("Entrada no válida. Por favor, escribe 'si' o 'no'.")
    añadirlib = {
        "Titulo" : titulo,
        "Autor" : autor,
        "Alquilado" : alquilado
    }
    libroañadido.append(añadirlib)

añadelibro(libros)

In [ ]:
def eliminarlib(libroeliminado):
    autoor=input("¿Cual es el auto del libro que quieres eliminar?").lower()
    for elim in libroeliminado:
        if autoor == elim['Autor'].lower():
            libroeliminado.remove(elim)
            print(f"El libro de {autoor} ha sido eliminado")

eliminarlib(libros)

visualizar(libros)

El libro dejake vanderplas ha sido eliminado
[{'Alquilado': True,
  'Autor': 'Aurélien Géron',
  'Titulo': 'Hands-On Machine Learning with Scikit-Learn, Keras, and '
            'TensorFlow'},
 {'Alquilado': False,
  'Autor': 'Christopher M. Bishop',
  'Titulo': 'Pattern Recognition and Machine Learning'},
 {'Alquilado': True,
  'Autor': 'Ian Goodfellow, Yoshua Bengio, Aaron Courville',
  'Titulo': 'Deep Learning'},
 {'Alquilado': False,
  'Autor': 'Trevor Hastie, Robert Tibshirani, Jerome Friedman',
  'Titulo': 'The Elements of Statistical Learning'},
 {'Alquilado': False,
  'Autor': 'Foster Provost, Tom Fawcett',
  'Titulo': 'Data Science for Business'},
 {'Alquilado': True,
  'Autor': 'Andrew Gelman et al.',
  'Titulo': 'Bayesian Data Analysis'},
 {'Alquilado': False,
  'Autor': 'Michael Sipser',
  'Titulo': 'Introduction to the Theory of Computation'},
 {'Alquilado': True,
  'Autor': 'Stuart Russell, Peter Norvig',
  'Titulo': 'Artificial Intelligence: A Modern Approach'},
 {'Alquilado': False,
  'Autor': 'Richard Szeliski',
  'Titulo': 'Computer Vision: Algorithms and Applications'},
 {'Alquilado': True,
  'Autor': 'Joel Grus',
  'Titulo': 'Data Science from Scratch'},
 {'Alquilado': False,
  'Autor': 'David Spiegelhalter',
  'Titulo': 'The Art of Statistics'},
 {'Alquilado': True,
  'Autor': 'Sebastian Raschka, Vahid Mirjalili',
  'Titulo': 'Python Machine Learning'},
 {'Alquilado': False,
  'Autor': 'Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani',
  'Titulo': 'An Introduction to Statistical Learning'},
 {'Alquilado': False,
  'Autor': 'Joe Reis, Matt Housley',
  'Titulo': 'Fundamentals of Data Engineering'},
 {'Alquilado': True,
  'Autor': 'Cole Nussbaumer Knaflic',
  'Titulo': 'Storytelling with Data'},
 {'Alquilado': False,
  'Autor': 'Emmanuel Ameisen',
  'Titulo': 'Building Machine Learning Powered Applications'},
 {'Alquilado': True,
  'Autor': 'Peter Bruce, Andrew Bruce',
  'Titulo': 'Practical Statistics for Data Scientists'},
 {'Alquilado': False,
  'Autor': 'Renee M. P. Teate',
  'Titulo': 'SQL for Data Scientists'},
 {'Alquilado': True,
  'Autor': 'Vlad Riscutia',
  'Titulo': 'Data Engineering on Azure'}]

In [ ]:
libros = [
    {"Titulo": "Python Data Science Handbook", "Autor": "Jake VanderPlas", "Alquilado": False},
    {"Titulo": "Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow", "Autor": "Aurélien Géron", "Alquilado": True},
    {"Titulo": "Pattern Recognition and Machine Learning", "Autor": "Christopher M. Bishop", "Alquilado": False},
    {"Titulo": "Deep Learning", "Autor": "Ian Goodfellow, Yoshua Bengio, Aaron Courville", "Alquilado": True},
    {"Titulo": "The Elements of Statistical Learning", "Autor": "Trevor Hastie, Robert Tibshirani, Jerome Friedman", "Alquilado": False},
    {"Titulo": "Data Science for Business", "Autor": "Foster Provost, Tom Fawcett", "Alquilado": False},
    {"Titulo": "Bayesian Data Analysis", "Autor": "Andrew Gelman et al.", "Alquilado": True},
    {"Titulo": "Introduction to the Theory of Computation", "Autor": "Michael Sipser", "Alquilado": False},
    {"Titulo": "Artificial Intelligence: A Modern Approach", "Autor": "Stuart Russell, Peter Norvig", "Alquilado": True},
    {"Titulo": "Computer Vision: Algorithms and Applications", "Autor": "Richard Szeliski", "Alquilado": False},
    {"Titulo": "Data Science from Scratch", "Autor": "Joel Grus", "Alquilado": True},
    {"Titulo": "The Art of Statistics", "Autor": "David Spiegelhalter", "Alquilado": False},
    {"Titulo": "Python Machine Learning", "Autor": "Sebastian Raschka, Vahid Mirjalili", "Alquilado": True},
    {"Titulo": "An Introduction to Statistical Learning", "Autor": "Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani", "Alquilado": False},
    {"Titulo": "Fundamentals of Data Engineering", "Autor": "Joe Reis, Matt Housley", "Alquilado": False},
    {"Titulo": "Storytelling with Data", "Autor": "Cole Nussbaumer Knaflic", "Alquilado": True},
    {"Titulo": "Building Machine Learning Powered Applications", "Autor": "Emmanuel Ameisen", "Alquilado": False},
    {"Titulo": "Practical Statistics for Data Scientists", "Autor": "Peter Bruce, Andrew Bruce", "Alquilado": True},
    {"Titulo": "SQL for Data Scientists", "Autor": "Renee M. P. Teate", "Alquilado": False},
    {"Titulo": "Data Engineering on Azure", "Autor": "Vlad Riscutia", "Alquilado": True}
]