# Ex - GroupBy

In [87]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [88]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [89]:
drinks.isnull()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
188,False,False,False,False,False,False
189,False,False,False,False,False,False
190,False,False,False,False,False,False
191,False,False,False,False,False,False
192,False,False,False,False,False,False

In [90]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [91]:
drinks.dropna(inplace=True)

In [92]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       170 non-null    object
 1   beer_servings                 170 non-null    int64
 2   spirit_servings               170 non-null    int64
 3   wine_servings                 170 non-null    int64
 4   total_litres_of_pure_alcohol  170 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.3+ KB

### Step 4. Which continent drinks more beer on average?

In [93]:
drinks.groupby('continent').beer_servings.agg(['mean'])

                 mean
continent
AF          61.471698
AS          37.045455
EU         193.777778
OC          89.687500
SA         175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [94]:
drinks.groupby('continent').wine_servings.agg(['count', 'mean', 'std', 'min', 'max','median'])

           count        mean        std  min  max  median
continent
AF            53   16.264151  38.846419    0  233     2.0
AS            44    9.068182  21.667034    0  123     1.0
EU            45  142.222222  97.421738    0  370   128.0
OC            16   35.625000  64.555790    0  212     8.5
SA            12   62.416667  88.620189    1  221    12.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [95]:
drinks.groupby('continent').total_litres_of_pure_alcohol.agg(['min', 'max'])

           min   max
continent
AF         0.0   9.1
AS         0.0  11.5
EU         0.0  14.4
OC         0.0  10.4
SA         3.8   8.3

### Step 7. Print the median alcohol consumption per continent for every column

In [96]:
drinks.groupby('continent').total_litres_of_pure_alcohol.agg(['median'])

           median
continent
AF           2.30
AS           1.20
EU          10.00
OC           1.75
SA           6.85

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [97]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302